// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul {
  list-style: circle inside;
}
h1{
  color: #320454 !important;
}
p{
  color: #186900 !important;
}
.archive-link h3 a:link{
color: #320454 !important;
}
article h2 a:link{
  color: #320454 !important;
}